/MyProject/nbproject/private/
/MyProject/build/
/PT1Q1/nbproject/private/
/Q1-sp25-bl5/nbproject/private/
/PTQ1/nbproject/private/
/PTQ1/build/
/PTQ2/nbproject/private/
/PTQ2/build/
/PTQ2/dist/
/PTQ3/nbproject/private/
/PTQ3/build/
